.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


/* Cards Variations: trending-articles */
.cards.trending-articles {
  width: 80vw;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 75px;
  padding-bottom: 20px;
}

.cards.trending-articles ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}

.cards.trending-articles h3 {
  font-size: 23px;
  color: var(--brand-secondary)
}

.cards.trending-articles .cards-card-image img {
  max-height: 168px;
  width: 100%;
  display: block;
  object-fit: cover;
}


.cards.trending-articles .button-container {
  margin: 0;
}

.cards.trending-articles .button-container .button {
  margin: 0;
  margin-bottom: 10px;
}

.cards.trending-articles .button-container:last-of-type .button {
  background-color: var(--brand-secondary);
}

.cards.podcasts {
  max-width: 100%;
  padding: 0 30px 30px;
  margin: 0 auto;
}

.cards.podcasts ul {
  display: flex;
  flex-flow: wrap;
}

.cards.podcasts img {
  max-width: 200px;
  margin: 5px;
}

@media (width >=1200px) {
  .cards.podcasts {
    max-width: 1000px;
  }
}

@media screen and (min-width: 900px) {
  .cards.trending-articles ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}