.section .hero-wrapper {
  max-width: 100vw;
}

.hero-wrapper .hero {
  position: relative;
}

.hero-wrapper .hero .explore-button {
  position: absolute;
  transform: translate(50vw);
  bottom: 50px;
  color: #fff;
  text-transform: uppercase;
  font-family: Oswald;
  font-weight: 500!important;
  font-size: 1.5em;
  background: 0 0;
  padding: 0;
  text-shadow: 1px 1px 5px #000;
}

.hero-wrapper .hero .explore-button:hover {
  text-decoration: none;
}

.hero-block--content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-block--content .hero-text {
  background: rgba(255, 255, 255, .9);
  padding: 15px 20px;
  order: 2;
}

.hero-block--content .hero-text h1 {
  font-size: var(--body-font-size-xs);
  margin: 0;
  color: var(--title-primary);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.hero-block--content .hero-text p {
  font-size: var(--body-font-size-m);
  margin: 0;
  color: var(--text-color);
}

.hero-block--content .hero-image img {
  display: block;
}

@media screen and (min-width: 768px) {
  .hero-block--content .hero-text {
    padding: 15px 20px;
    bottom: 30px;
    right: 30px;
    position: absolute;
    max-width: 50%;
    border-bottom: 0;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .175);
  }

  .hero-block--content .hero-text h1 {
    font-size: var(--body-font-size-m);
  }
  
}

@media screen and (min-width: 992px) {
  .hero-block--content .hero-text {
    padding: 15px;
    position: absolute;
    bottom: 80px;
    right: 50px;
    max-width: 33%;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, .175);
  }

  .hero-block--content .hero-text h1 {
    font-size: var(--body-font-size-m);
  }
  
}