footer {
  background-color: var(--brand-primary);
  color: var(--white);
  font-size: var(--body-font-size-s);
  padding: 45px 0 35px;
  background-image: url('/assets/FooterOverlay.png');
  background-position: center center;
  background-repeat: no-repeat;
}

.footer .columns-wrapper {
  width: 84.5vw;
}

footer .footer {
  margin: auto;
}

footer .footer div {
  max-width: unset;
  font-size: 15px;
}

footer .footer p {
  margin: 0;

}

.footer .footer-bottom-links {
  color: var(--white);
  border-top: 1px solid rgba(222, 222, 222, 0.2);
  font-size: 12px;
}

.footer .footer-bottom-links a {
  color: var(--white);
 }