footer {
  background-color: var(--brand-primary);
  color: var(--white);
  font-size: var(--body-font-size-s);
  padding: 45px 0 35px;
  background-image: url('/assets/FooterOverlay.png');
  background-position: center center;
  background-repeat: no-repeat;
}

footer .footer {
  margin: auto;
}

footer .footer div {
  max-width: unset;
  font-size: 15px;
}

footer .footer p {
  margin: 0;

}
