.separator-wrapper {
    max-width: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.separator {
    border-top: 1px solid #dedede;
    padding: 0;
}

.separator.margin-top {
    margin-top: 50px;
}

.separator.margin-bottom {
    margin-bottom: 50px;
}


@media (width >=1200px) {
    .separator-wrapper {
        max-width: 1000px;
    }
}